.footer{
  width: 100vw;
  height: 80px;
  background-color: rgba(48, 48, 48, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  left: 0;
}
.footer-navbar{
  width: 1200px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-date{
  color:white
}
@media(max-width:550px){
  .footer{
    height: 94px;
  }
  .footer-navbar{
    flex-direction: column;
    gap: 10px;
    font-size: 13px;
  }
}